{#TEMPLATE TABLE CLIENTS#}
{# @var clientDTO \Domain\DTO\ClientDTO #}

{% extends "base.html.twig" %}

{% block body %}
    <h2> Las carteras de {{ clientDTO.name }}</h2>
    <div class="row mt-5">
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total de carteras</h5>
                            <p class="card-text">{{ clientDTO.totalPortfolios }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#portfolioModal">
                Agregar nueva cartera
            </button>
        </div>

    </div>
    <div class="mt-5">
        <table class="table table-striped" id="finizens-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Asignaciones</th>
                    <th >Acción</th>
                    <th >Eliminar</th>
                </tr>
            </thead>
            <tbody>

                    {% for portfolio in clientDTO.portfolios %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ portfolio.name }}</td>
                        <td>
                            <i class="bi bi-eye-fill" style="font-size: 1.5rem; color: cornflowerblue; cursor: pointer;"
                               data-bs-toggle="modal" data-bs-target="#portfolioModal{{ loop.index }}"></i>

                            <!-- Modal -->
                            <div class="modal fade" id="portfolioModal{{ loop.index }}" tabindex="-1" aria-labelledby="portfolioModalLabel{{ loop.index }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="portfolioModalLabel{{ loop.index }}">Asignaciones de {{ portfolio.name }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for allocation in portfolio.allocations %}
                                                        <tr>
                                                            <td>{{ allocation.id }}</td>
                                                            <td>{{ allocation.shares }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#orderModal{{ loop.index }}">Crear pedido</a>
                            <!-- Modal create order -->
                            <div class="modal fade" id="orderModal{{ loop.index }}" tabindex="-1" aria-labelledby="orderModalLabel{{ loop.index }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="orderModalLabel{{ loop.index }}">Crear nuevo pedido para {{ portfolio.name }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="form-order{{ loop.index }}">
                                                <div class="form-group">
                                                    <label for="type_order{{ loop.index }}">Tipo de pedido:</label>
                                                    <select class="form-control select-type-order" id="type_order{{ loop.index }}"
                                                            name="order_type" data-check-new=".box-check-new{{ loop.index }}" data-check-edit="#optionEdit{{ loop.index }}"
                                                            data-target="#box-allocation-order{{ loop.index }}">
                                                        <option value="">Seleccione una opción</option>
                                                        <option value="buy">Comprar</option>
                                                        <option value="sell">Vender</option>
                                                    </select>
                                                </div>
                                                <div class="form-group" style="margin-top: 10px;">
                                                    <input type="radio" class="btn-check check-allocation-order" data-target="#box-allocation-order{{ loop.index }}" name="options-allocation{{ loop.index }}" id="optionEdit{{ loop.index }}" autocomplete="off" checked value="edit">
                                                    <label class="btn" for="optionEdit{{ loop.index }}">Asignación Existente</label>

                                                    <input type="radio" class="btn-check check-allocation-order box-check-new{{ loop.index }}" data-target="#box-allocation-order{{ loop.index }}" name="options-allocation{{ loop.index }}" id="optionNew{{ loop.index }}" autocomplete="off" value="new">
                                                    <label class="btn box-check-new{{ loop.index }}" for="optionNew{{ loop.index }}">Crear nueva asignación</label>

                                                </div>
                                                <div class="form-group" style="margin-top: 10px;" id="box-allocation-order{{ loop.index }}">
                                                    <select class="form-control" id="allocation_id{{ loop.index }}" name="allocation_id">
                                                        <option value="">Seleccione una opción</option>
                                                        {% for allocation in portfolio.allocations %}
                                                            <option value="{{ allocation.id }}">{{ allocation.id }} (Acciones: {{ allocation.shares }})</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group" style="margin-top: 10px;">
                                                    <label for="allocation-shares{{ loop.index }}">Acciones:</label>
                                                    <input type="number" name="allocation_shares" class="form-control" id="allocation-shares{{ loop.index }}">
                                                </div>
                                                <div class="alert alert-danger" role="alert" style="display: none; margin-top: 10px;" id="form-error{{ loop.index }}">
                                                    Es obligatorio rellenar los campos
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary submit-order" data-type-order="#type_order{{ loop.index }}"
                                                    data-check-allocation="options-allocation{{ loop.index }}" data-allocation-id="#allocation_id{{ loop.index }}"
                                                    data-form-order="#form-order{{ loop.index }}" data-form-error="#form-error{{ loop.index }}" data-allocation-shares="#allocation-shares{{ loop.index }}"
                                                    data-url="{{ path('client_create_order',{uidentifier: portfolio.uidentifier}) }}">
                                                Crear pedido
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><a href="{{ path('delete_portfolio',{uidentifier: portfolio.uidentifier}) }}"><i class="bi bi-trash3-fill"></i></a></td>
                    </tr>
                    {% endfor %}

            </tbody>
        </table>
    </div>
    

    <!-- Modal create portfolio -->
    <div class="modal fade" id="portfolioModal" tabindex="-1" aria-labelledby="portfolioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="portfolioModalLabel">Crear nueva cartera</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form-portfolio">
                        <div class="form-group">
                            <label for="create_portfolio_name">Nombre de la cartera:</label>
                            <input name="name" class="form-control" id="create_portfolio_name">
                            <div class="alert alert-danger" role="alert" style="display: none; margin-top: 10px;" id="error-portfolio-name">
                                Es obligatorio rellenar el nombre
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 20px">
                            <button type="button" class="btn btn-success add-allocation" data-target=".box-allocation">Agregar asignaciones</button>

                            <div class="box-allocation">


                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="submit-portfolio" data-portfolio-name="#create_portfolio_name"
                            data-error-portfolio-name="#error-portfolio-name" data-form-portfolio="#form-portfolio"
                            data-url="{{ path('client_create_portfolio',{uidentifier: clientDTO.uidentifier}) }}">
                        Crear cartera
                    </button>
                </div>
            </div>
        </div>
    </div>

    {# ########## ERROR AJAX MODAL ########## #}
    <!-- INI Modal Info -->
    <div id="dt-modal-ajax-error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalError" aria-modal="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-l">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">
                        <i class="fa fa-exclamation-triangle small mr-2" aria-hidden="true"></i> Cantidad insuficiente para vender
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger mb-0 text-center" role="alert">
                        <strong>Oups! Ha habido un error para completar el pedido de venta por insuficiente acciones.</strong>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-success dt-refresh">
                            Refrescar <i class="fas fa-sync-alt ml-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}


{% block javascripts_extra %}
    <script>

        // Refresh
        $(document).on('click', '.dt-refresh', function () {
            location.reload();
        });

        $(document).on('click','.add-allocation',function () {
            let box = $(this).data('target');
            $(box).append('<input type="number"  class="form-control" name="allocations[]" style="margin-top: 10px;">');
        });

        $(document).on('change','.select-type-order',function () {

            console.log('aqui');
            let checkNew = $(this).data('checkNew'),
                checkEdit = $(this).data('checkEdit'),
                target = $(this).data('target');

            if($(this).children('option:selected').val() === 'sell') {
                $(checkEdit).prop('checked', true);
                $(checkNew).hide();
                $(target).show();
            } else {
                $(checkNew).show();
            }

        });
        $(document).on('click','.check-allocation-order',function () {
           let target = $(this).data('target'),
               name = $(this).attr('name');
            if ($('input[name="' + name + '"]:checked').val() === 'edit'){
                $(target).show();
            } else {
                $(target).hide();
            }
        });

        $(document).on('click','#submit-portfolio',function () {
            let formPortfolio = $(this).data('formPortfolio'),
                portfolioName  = $(this).data('portfolioName'),
                errorPortfolioName  = $(this).data('errorPortfolioName'),
                url = $(this).data('url');
            $(errorPortfolioName).hide();
            if($(portfolioName).val() === ''){
                $(errorPortfolioName).show();
                return false;
            }
            let formData = $(formPortfolio).serialize();

            $.ajax({
                method: "POST",
                url: url,
                dataType: 'json',
                data: formData
            }).done(function (dataStatus) {
                document.location.reload();
            });
        });

        $(document).on('click','.submit-order',function () {
            let formOrder = $(this).data('formOrder'),
                checkAllocation = $(this).data('checkAllocation'),
                allocationId = $(this).data('allocationId'),
                allocationShares = $(this).data('allocationShares'),
                formError = $(this).data('formError'),
                typeOrder = $(this).data('typeOrder'),
                url = $(this).data('url');

            $(formError).hide();
            if ($(typeOrder).children("option:selected").val() === "") {
                $(formError).show();
                return false;
            }else if ($(allocationShares).val() === "") {
                $(formError).show();
                return false;
            }else if ($('input[name="' + checkAllocation + '"]:checked').val() === 'edit' && $(allocationId).children("option:selected").val() === "") {
                $(formError).show();
                return false;
            }

            let formData = $(formOrder).serialize();

            $.ajax({
                method: "POST",
                url: url,
                dataType: 'json',
                data: formData
            }).done(function (dataStatus) {
                document.location.reload();
            }).fail(function () {
                showAjaxErrorModal();
            });
        });

        /** Show modal of Ajax error */
        function showAjaxErrorModal() {
            // Close all modals and open error
            $('.modal:not(#dt-modal-ajax-error)').modal('hide');
            $('#dt-modal-ajax-error').modal('show');
            return false;
        }
    </script>
{% endblock %}